{% extends "layout.html" %}
{% block body %}




<div> <h1>About</h1></div>


<div style="width:60%; margin-left: 240px", align="left">
<p style="font-family:Josefin Sans;">
This web app makes recommendations based upon data obtained from <a href="https://myanimelist.net/">MyAnimeList</a> that
was shared on <a href="https://www.kaggle.com/">Kaggle</a>. Please note the data is from 2016 and would be a bit out
 of date. The database would be updated soon.
</p>

<p  style="font-family:Josefin Sans;">This recommender was made using Python, Sklearn, Pandas and Flask. If you are interested on how the
 recommendations are made, please have a look at <a href="https://github.com/hrampadarath/AnimeRecommender"> my github repo </a> with the original Python codes.</p>

<p  style="font-family:Josefin Sans;">
 If you like this App, have comments, want to request a feature, interested in getting involved
 or just want to say hi, please send an email to the address below.
</p>


 <footer>
  <p> &copy Hayden Rampadarath (2017)</p>
  <p>Contact information: <a href="mailto:haydenrampadarath@gmail.com">haydenrampadarath@gmail.com</a>.</p>
  <p>This website is not affiliated with MyAnimeList</p>
 </footer>

 </div>


{% endblock %}