{% extends "layout.html" %}
{% block body %}




<div> <h1>About</h1></div>


<div style="width:60%; margin-left: 240px", align="left">
<p style="font-family:Josefin Sans;">
This app was built initially in 2017 (and updated in 2020) as a way to acquire new anime recommendations based upon
anime I previously watched. It was also an experinent into creating recommender systems as well as an end-to-end machine learning project. 
This web app makes recommendations on 16000+ anime from <a href="https://myanimelist.net/">MyAnimeList</a>. 
The current version of the app has been updated with data webscraped as of June 2020.
</p>

<p  style="font-family:Josefin Sans;">This recommender was made using Python, Sklearn, Pandas and Flask. If you are interested on how the
 recommendations are made, as well as the webscraper, please have a look at <a href="https://github.com/hrampadarath/AnimeRecommender"> my github repo for this project </a> with the original Python codes.</p>

<p  style="font-family:Josefin Sans;">
 If you like this App, have comments, want to request a feature, interested in getting involved
 or just want to say hi, please send an email to the address below.
</p>


 <footer>
  <p> &copy Hayden Rampadarath (2020)</p>
  <p>Contact information: <a href="mailto:haydenrampadarath@gmail.com">haydenrampadarath@gmail.com</a>.</p>
  <p>This website is not affiliated with MyAnimeList</p>
 </footer>

 </div>


{% endblock %}