{% extends "layout.html" %}
{% block body %}

<div class="container" style="width:100%; height:60%">
<h1>Anime Recommender</h1>


    <div>

        <form action = "/similarByName" method = 'POST'>
	    <p> <input name="name" type ="text" placeholder="Search by Name" />
        <input type ="submit" value="submit" /> </p>
        </form>


    <span style="float:left; width:20%" >
        <form action = '/randomAnime' method = 'Get'>
	    <p> <input type ="submit" name = "submit" value="Random Anime Generator" /> </p>
        </form>
    </span>

     <span style="float:left; width:50%">
        <form action = '/topAnimeMovies'>
	    <p> <input type ="submit" name = "submit" value="Top 100 Anime Movies" /> </p>
        </form>
     </span>
     <span style="float:right;width:30%">
        <form action = '/topAnimeTV'>
	    <p> <input type ="submit" name = "submit" value="Top 100 Anime Series" /> </p>
        </form>
     </span>

    </div>

</div>
<div class="block2" style="width:100%", align="left">

    <article>
    <h3>Instructions:</h3>
        <p style="font-family:Josefin Sans;"> To get recommendations:
            <ol>
            <li> Enter the name of an Anime in the "Search by Name" form. This will return a table of all anime
                in the database with similar names. Click the "Recommend" button for recommendations.
            </li>
            <li> You can also generate a Random Anime </li>
            <li> Or list the top 100 Anime TV or Movies in the database by Ratings.</li>
            <li> For each Anime there will be an associated "Recommender" button. Use this
                to generate similar Anime using a content based filtering. For more information on the anime, 
                follow the "MAL Link" to the myanime.net webpage for that anime.
            </li>
            </ol>

             </p>
    </article>

</div>

{% endblock %}


